.section{
    background-color: #fffacd;
    font-family: Lucida Sans Unicode, Lucida Grande, sans-serif;
}

#fact-1 {
  font-weight: bolder;
}

#fact-2 {
  font size: 24px;
}


#fact-3 {
  line height: 60000px;
}